@media (max-width: 1024px) {
    .LogoutBtn {
        width: 5vw;
        height: 4vh;
        margin-top: 1%;
    }
}

@media (max-width: 768px) {
    .LogoutBtn {
        width: 6.5vw;
        height: 9vh;
        margin-left: 90%;
        margin-top: 2.5%;
    }
}

@media (min-width: 270px) and (max-width: 600px) {
    .LogoutBtn {
        width: 10vw;
        margin-left: 80%;
        margin-top: 3.2%;
    }

}