@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    box-sizing: border-box;
}

.imgBurger {
    position: absolute;
    z-index: -3;
    margin-left: 25%;
    margin-top: 6.5%;
    height: 70vh;
    width: 50%;
}

.divRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.formFieldsetRegister {
    border: none;
    background-color: #FFE1BE;
    margin: 1.5rem 0rem 0rem 0rem;
    border-radius: 18px;
    position: absolute;
    z-index: 3;
    width: 22vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1Register {
    color: #763D09;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0rem 0rem;
}

.labelInputs {
    font-family: Roboto;
    font-size: 0.8rem;
    padding: 0rem 0rem 0rem 0.2rem;
    text-align: left;
    margin-left: 3%;
    margin-bottom: 0;
    margin-top: 3%;
    color: #3B1E04;
    letter-spacing: -0.7px;
}

.inputEmail,
.inputPassword {
    width: 92%;
    margin: auto;
    border: none;
    height: 30px;
    outline: none;
    font-family: Roboto;
    padding: 0rem 0.5rem;
}

button {
    cursor: pointer;
}

.orangeBtn {
    background-color: #FF8A00;
    border-top: 2.5px solid #DC7700;
    border-bottom: 6px solid #DC7700;
    border-left: 2.5px solid #DC7700;
    border-right: 6px solid #DC7700;
    width: 93%;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 0.2rem;
    margin: 0rem 0rem 2rem;
    /*margin: 1rem 0rem 2rem 0rem;*/
}

.orangeBtn:hover {
    background-color: #DC7700;
    transition: 1s;
}

.backHome {
    outline: none;
    border: none;
    margin: 2% 0% 0% 0%;
    background-color: transparent;
    position: absolute;
    z-index: 5;
    width: 100%;
    font-size: 3vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backHome:hover {
    color: #FF8A00;
    text-decoration: underline;
    transition: 1s;
}

.radioBtn1,
.radioBtn2 {
    display: inline;
    margin: 5%;
}

.radioBtn {
    margin: 1rem 0rem;
}

.roleLabel {
    color: #763D09;
}