@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    box-sizing: border-box;
}

.imgBurger {
    position: absolute;
    z-index: -3;
    margin-left: 25%;
    margin-top: 6.5%;
    height: 70vh;
    width: 50%;
}

.divRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.formFieldsetRegister {
    border: none;
    background-color: #FFE1BE;
    margin: 1.5rem 0rem 0rem 0rem;
    border-radius: 18px;
    position: absolute;
    z-index: 3;
    width: 22vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1Register {
    color: #763D09;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0rem 0rem;
}

.radioBtn1,
.radioBtn2 {
    display: inline;
    margin: 5%;
}

.radioBtn {
    margin: 1rem 0rem;
}

.roleLabel {
    color: #763D09;
}