.withoutOrders {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

.orderPending, .orderPreparing,
.orderReady, .orderServed{
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0.6rem;
}

.orderPending {
    color: #ff0000;
    background-color: #ff000013;
}

.orderPreparing {
    color: #ffd000;
    background-color: #ffd00013;
}

.orderReady {
    color: rgba(83, 83, 216, 0.877);
    background-color: rgba(0, 153, 255, 0.041);
}

.orderServed {
    color: green;
    background-color: rgba(0, 255, 21, 0.075);
}