.backMenu {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  font-size: 2rem;
  color: #763D09;
  text-align: start;
  display: flex;
  margin-top: 0.5%;
}

.items,
.item {
  display: flex;
}

.backMenu:hover {
  color: #FF8A00;
  text-decoration: underline;
  transition: 1s;
}

.p {
  font-size: 1.4rem;
}