.backMenu {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  min-width: 82px;
  font-size: 2rem;
  color: #763D09;
  text-align: start;
  margin-left: 3%;
}

.items,
.item {
  display: flex;
}

.backMenu:hover {
  color: #FF8A00;
  text-decoration: underline;
  transition: 1s;
}