@media (max-width: 768px) {
    .backMenu {
        margin-top: 1%;
        min-width: 100px;
        cursor: pointer;
    }
}
@media (min-width: 270px) and (max-width: 600px) {
    .backMenu {
        min-width: 100px;
        margin-top: 3%;
    }

    .p {
        display: none;
    }

}