@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.modal {
    width: 100%;
    height: 100%;
    background: #0000008c;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 4;
}

.confirmModal {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 26.5rem;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.imageItemModal {
    width: 25rem;
    object-fit: cover;
    align-self: center;
    height: 10rem;
    margin: 0rem 0rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.colunsModal {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0rem 2rem;
}

.flavorsModal {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.categoriesBtnModal {
    background-color: #31d300;
    border-top: 3px solid #28ad00;
    border-bottom: 3px solid #28ad00;
    border-left: 2.5px solid #28ad00;
    border-right: 6px solid #28ad00;
    cursor: pointer;
    width: 9rem;
    color: #000000;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 0.2rem;
    margin: 0.2rem 0rem;
}

.categoriesBtnModal.active {
    background-color: #6dec4665;
}

.categoriesBtnModal:hover {
    background-color: #28ad00;
}


.h1Modal {
    font-size: 1.3rem;
}

.complementsModal {
    padding: 0.8rem;
    margin: 0rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.categoriesBtnModalC {
    background-color: #ff0000;
    border-top: 3px solid #bb0000;
    border-bottom: 3px solid #bb0000;
    border-left: 2.5px solid #bb0000;
    border-right: 6px solid #bb0000;
    cursor: pointer;
    width: 9rem;
    color: #000000;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 0.2rem;
    margin: 0.2rem 0.2rem;
}

.categoriesBtnModalC.active {
    background-color: #ff000059;
}

.categoriesBtnModalC:hover {
    background-color: #bb0000;
}

.btnModal {
    border-top: 1px solid black;
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnModals {
    background-color: #FF9900;
    border-radius: 3px;
    border-top: 2px solid #DC7700;
    border-bottom: 5px solid #DC7700;
    border-left: 2px solid #DC7700;
    border-right: 5px solid #DC7700;
    color: white;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    margin: 0.7rem 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.h1ModalCancel {
    color: #763D09;
    font-size: 1.6rem;
    padding: 2rem 1rem 0rem;
    align-items: center;
    text-align: center;
    font-weight: 400;
    line-height: 2rem;
}

.modalCancel {
    width: 22rem;
    height: 12rem;
    background-color: #FFE1BE;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cancelModal {
    background-color: #ff0000;
    border-radius: 3px;
    border-top: 2px solid #be0000;
    border-bottom: 5px solid #be0000;
    border-left: 2px solid #be0000;
    border-right: 5px solid #be0000;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    margin: 1.6rem 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 8rem;
}

.h1SendModal {
    color: black;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    font-weight: 500;
    line-height: 2.5rem;
}

.sendModal {
    width: 22rem;
    height: 12rem;
    background-color: #FFE1BE;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btnModalOrder {
    background-color: #ff0000;
    border-radius: 3px;
    border-top: 2px solid #be0000;
    border-bottom: 5px solid #be0000;
    border-left: 2px solid #be0000;
    border-right: 5px solid #be0000;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    margin: 0.3rem 0.2rem 0rem;
    align-items: center;
    text-align: center;
    width: 14rem;
    justify-content: center;
}

.h1ModalOrder {
    color: #763D09;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    align-items: center;
    text-align: center;
    font-weight: 400;
    line-height: 2rem;
}

.cancelItemModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1OrderDelete {
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    align-items: center;
    font-weight: 400;
    padding: 2.3rem 1rem 0rem;
}