@media (min-width: 270px) and (max-width: 600px) {
    .modalCancel {
        width: 18rem;
        height: 12rem;
        padding: 0px;
    }

    .cancelModal {
        font-size: 1rem;
        width: 7.5rem;
        margin: 1.5rem 0.5rem;
    }

    .h1ModalOrder {
        color: #763D09;
        font-size: 1.6rem;
        padding: 0.4rem 1rem 0.5rem;
    }

    .confirmModal {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 17rem;
    }

    .imageItemModal {
        width: 17rem;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
    }

    .colunsModal {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0rem;
        height: 30vh;
        overflow-y: auto;
    }

    .btnModal {
        border-top: 1px solid black;
        margin: 0rem 1rem;
    }

    .btnModals {
        font-size: 1rem;
        padding: 0.2rem 1rem;
        margin: 0.8rem 0.5rem;
    }
}