.header {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 10px #FF3D00 solid;

}

.headerH1 {
    color: #763D09;
    font-weight: 900;
    font-size: 2.1rem;
}
.spanMenu{
    margin:auto;
}
