@media (max-width: 768px) {
    .btnOrders {
        display: block;
    }

    .divBtnOrder {
        width: 0%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: end;
        position: absolute;
        margin-left: 80%;
    }
}

@media (min-width: 270px) and (max-width: 600px) {
    .btnOrders {
        display: block;
    }

    .divBtnOrder {
        width: 0%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: end;
        position: absolute;
        margin-left: 65%;
    }
}