body{
    background-image: url('./assets/images/background-body.jpeg');
}
h2{
    color:#763D09;
padding: 10px;

}

.red-btn{
    background-color:#FF3D00;
    border: 3px solid #DF3600;
}
.orange-btn{
    background-color: #FFB800;
    border:3px solid #CC9300;
}

.orange-btn, .red-btn{
width: 93%;
margin:auto;
color:#ffffff;
font-weight: bold;
font-size: 105%;
height: 6vh;
padding:6px;
letter-spacing: -0.7px;
}

.divInfo{
background-color:#FFE1BE;
width: 21vw;
flex-direction: column;
margin: auto;
height: 60%;
text-align: center;
border-radius: 18px;
position: absolute;
margin-left: 37%;
z-index: 3;
margin-top: 10%; /*aqui se for tela cheia tem de ser 12%*/
}

.inputInfo{
    width: 100%;
    margin-bottom: 4%;
}
input{
    width: 92%;
    margin:auto;
    border:none;
    height: 30px;
    outline: none;
}

main img{
    position: absolute;
    z-index: -3;
    margin-left: 25%;
    margin-top: 0;
    height: 100vh;
    width:45%;
}
.isWorker{
    margin-bottom: 2%;
    margin-top: 12%;
    color: #3B1E04;
}
.labelInputs{
    text-align: left;
    margin-left: 3%;
    margin-bottom: 0;
    margin-top: 3%;
    color: #3B1E04;
    letter-spacing: -0.7px;
}
