#menu {
    background-image: url(/src/assets/images/background-clean.jpg);
    width: 80vw;
    padding: 0rem 2rem;
}

.items {
    display: flex;
    justify-content: center;
}

.categoriesBtn {
    background-color: #FFB800;
    border-top: 3px solid #CC9300;
    border-bottom: 3px solid #CC9300;
    border-left: 2.5px solid #CC9300;
    border-right: 6px solid #CC9300;
    cursor: pointer;
    width: 9rem;
    color: #000000;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 0.2rem;
    margin: 1rem 1.5rem;
}

.categoriesBtn:hover {
    background-color: #FF3D00;
    border-top: 3px solid #DF3600;
    border-bottom: 3px solid #DF3600;
    border-left: 2.5px solid #DF3600;
    border-right: 6px solid #DF3600;
    transition: 1s;
}

.nameItems,
.flavorItem {
    display: flex;
    justify-content: center;
}

.itemsH1 {
    font-weight: 500;
}

.allItems,
.breakfastItems,
.drinksItems,
.hamburgersItems,
.garnishItems {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutItems {
    border-bottom: 1.5px solid black;
    padding: 0.8rem 0rem 0.3rem;
}

.imageItem {
    width: 11rem;
    object-fit: cover;
    align-self: center;
    height: 10rem;
    margin: 0rem 0rem;
}

.nameItem {
    font-size: 1.3rem;
    text-align: center;
}

.flavorItem {
    font-size: 1.2rem;
    margin-top: -3%;
}

.complementsItem {
    padding: 0rem 0.1rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.priceItem {
    padding: 0.1rem 0rem 0rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: #FF9900;
}

#addToCart {
    background-color: #FF9900;
    border-radius: 3px;
    border-top: 2px solid #DC7700;
    border-bottom: 5px solid #DC7700;
    border-left: 2px solid #DC7700;
    border-right: 5px solid #DC7700;
    color: white;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    margin: 0.5rem 0rem;
}

#addToCart:hover {
    background-color: #DC7700;
    transition: 0.7s;
}