@media (max-width: 1200px) {
    .inputCustomer {
        font-size: 1rem;
        width: 8rem;
    }
}

@media (max-width: 1024px) {
    .menu {
        width: 72vw;
    }

    .image {
        width: 8vw;
    }

    .titleOrder {
        font-size: 1.5rem;
        padding: 0.4rem 0rem 0rem;
    }

    .amount,
    .amountOrder {
        font-size: 1.5rem;
    }

    .ordersH1 {
        font-size: 2.5rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .inputQtd {
        font-size: 1rem;
        margin: 0.4rem 0rem;
    }

    .items,
    .item {
        display: flex;
    }

    .ordersItems {
        margin: 1rem;
    }

    .categoriesBtn {
        margin: 1rem 1vw;
    }

    .inputCustomer {
        font-size: 1rem;
    }

    .total {
        padding: 0.5rem 0rem
    }

    .sendOrder,
    .cancelOrder {
        margin: 0.2rem 0rem;
        font-size: 1rem;
        padding: 0.3rem;
    }

    .moreItem,
    .lessItem {
        margin: 0.5rem 0rem;
    }
}

@media (max-width: 768px) {
    .menu {
        width: 100vw;
    }

    .image {
        width: 8vw;
    }

    .titleOrder {
        font-size: 1.5rem;
        padding: 0.4rem 0rem 0rem;
    }

    .amount,
    .amountOrder {
        font-size: 1.5rem;
    }

    .ordersH1 {
        font-size: 2.5rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .inputQtd {
        font-size: 1rem;
    }

    .items,
    .item {
        display: flex;
    }

    .ordersItems {
        margin: 1rem;
    }

    .categoriesBtn {
        margin: 1rem 1vw;
    }

    .inputCustomer {
        font-size: 1rem;
    }

    .total {
        padding: 0.5rem 0rem
    }

    .sendOrder,
    .cancelOrder {
        margin: 0.1rem 0rem;
        font-size: 0.9rem;
        padding: 0.3rem;
        width: 17rem;
    }
}

@media (min-width: 270px) and (max-width: 600px) {
    .categoriesBtn {
        margin: 0.3rem 1vw;
        padding: 0rem 1rem;
        font-size: 0.8rem;
        width: 40vw;
    }

    .items,
    .item {
        display: block;
    }

    .ordersItems {
        width: 10rem;
        margin: 0.5rem;
    }

    .imageItem {
        width: 9rem;
        height: 7rem;
    }

    .titleOrder {
        font-size: 1.5rem;
        padding: 0.5rem 0rem 0rem;
        line-height: 1rem;
    }

    .image {
        width: 30vw;
        height: 15vh;
    }

    .amount,
    .amountOrder {
        font-size: 1.5rem;
    }

    .ordersH1 {
        font-size: 1.7rem;
    }

    .price {
        font-size: 2rem;
    }

    .inputQtd {
        font-size: 1.2rem;
    }

    .inputCustomer {
        font-size: 1rem;
        width: 60vw;
    }

    .clientInfo {
        font-weight: 400;
        font-size: 25px;
    }

    .moreItem,
    .lessItem {
        font-size: 1.5rem;
    }

    .total {
        font-size: 1.5rem;
    }

    .sendOrder,
    .cancelOrder {
        margin: 0.2rem 0rem;
        font-size: 1rem;
        padding: 0rem;
        width: 18rem;
    }

    .orderSummary {
        margin: 0.4rem 1.5rem;
        padding: 0rem 0.5rem 0.5rem;
    }

    .divOrderSummary {
        height: 40vh;
    }
}